@import './variables.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './highlight.scss';
html {
  height: 100%;
}

body {
  height: 100%;
  background: #e9ecf3;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  padding: 0;
  margin: 0;
}
#app {
  height: 100%;
}
.main-content {
  padding: 15px 30px;
  height: 0;
  flex: 1;
  overflow: auto;
}
.mobile .main-content {
  padding: 15px 10px;
}
.app-wrapper{
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.main-container{
  min-height: 100%;
  display: flex;
  flex: 1;
  width: 0;
  flex-direction: column;
  position: relative;
}
.eadmin-detail img{
  max-width:100%;
}
body *::-webkit-scrollbar {width:9px; height:9px;} /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
body *::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border-style: dashed;
  background-color: rgba(157, 165, 183, 0.4);
  border-color: transparent;
  border-width: 2px;
  background-clip: padding-box;
}

body *::-webkit-scrollbar-thumb:hover {
  box-shadow: 5px 5px 5px rgba(157, 165, 183,.5);
  background: rgba(157, 165, 183,.5);
}
.scrollbarHide::-webkit-scrollbar{display: none}
.scrollbarShow::-webkit-scrollbar{display: block}
.xgplayer-skin-default .xgplayer-start {
  z-index:1!important;
}
.ant-table-thead > tr > th{
  background: linear-gradient(to top, rgb(250, 250, 250), rgb(255, 255, 255)); color: rgb(96, 98, 102); border-top: 1px solid rgb(237, 237, 237);
}
.ant-table-tbody > tr > td{
  padding:10px;
}

