
// sidebar
$menuText:#fff;
$menuActiveText:#409eff;
$subMenuActiveText:#000; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#000;
$menuHover:#263445;

$subMenuBg:#000;

$subMenuHover:#111111;

$sideBarWidth: 250px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}

